@charset "UTF-8";
/* ============ CSS for Diversus ============ */
/* Created January 2019 by Nooron UG          */

/* ---------------- Universal -----------------*/

body {
	background-color: #232842;
	color: #fff;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

/* ---------------- Login Form -----------------*/

#logo {
	width: 10%;
	min-width: 110px;
	margin: 4em auto 7em;
	display: block;
}

#login {
	display: block;
	margin: auto;
	font-weight: 300;
}
#login input {
	display:block;
	margin: auto;
	border-radius: 0;
	padding-bottom: 0.3em;
	text-align: center;
	border: 0px;
	border-bottom: 2px solid #fff;
	background-color: #232842;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	color: #fff;
	font-weight: 100;
}
#login input[type=email]{
	min-width: 300px;
	font-size: 1.5em;
}

#login button[type=submit] {
	background-color: #fff;
	display:block;
	width: 300px;
	color: #000;
	font-size: 1.4em;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	border-radius: 0;
	margin: 1.5em auto;
	border: 2px solid #fff;
	padding: 0.4em;	
	font-weight: 400;
}
#deeplink_sent{
	display:block;
	width: 210px;
	border: 2px solid #fff;
	background-color: #232842;
	color: #fff;	
	margin: 1.5em auto;
	font-size: 1.4em;
	padding: 0.4em 20px 0.4em 70px;	
	font-weight: 300;
}
.justify_icon{
	float: right;
    margin: 0 0.2em;
	font-size: 1.1em;
	vertical-align: middle
}
#send_airplane {
	width: 1em;
}
#instruct {
	width: 70%;
    margin: 2em auto;
    text-align: center;
    font-size: 1.6em;
	font-weight: 100;
}
#deeplink_sent, #instruct {
	display:none;
}
#login button[type=submit], #login input[type=email]{
/*	display:none;*/
}
