@charset "UTF-8";
/* ============ CSS for Diversus ============ */
/* Created January 2019 by Nooron UG          */

/* ------------------ Global ------------------*/
html {
}

#login_screen {
	height: 100%;
	background: #232842;
}
body {
	background-color: #0d0f19;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232842', endColorstr='#0d0f19',GradientType=0 ); /* IE6-9 */
	color: #eee;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0;
	padding: 0;
	font-weight: 100;
}
.fractalpanel_knob {
	display: none;
}
/* ------------------ Layout -------------------*/

.fractalpanel_controls_bar {
	display: none;
}
.fractalpanel_content_area {
  padding-top: 0px;  /* only needs specifying because Diversus turns off the FractalPanel buttons by default */
  height: 100%;      /* only needs specifying because Diversus turns off the FractalPanel buttons by default */
}
.split-pane-divider.horizontal-divider {
	display: none;
}
/* ---------------- Login Form -----------------*/

#logo_wrap {
	width: 100%;
	margin: 4em auto 7em;
	display: block;
}
#diversus_logo {
	width: 10%;
	min-width: 110px;
	margin: auto;
	display: block;
}
#login_form {
	display: block;
	margin: auto;
	font-weight: 300;
}
#join input[type=email]{
	display:block;
	margin: auto;
	border-radius: 0;
	padding-bottom: 0.3em;
	text-align: center;
	border: 0px;
	border-bottom: 2px solid #fff;
	background-color: transparent;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	color: #fff;
	font-weight: 100;
	min-width: 300px;
	font-size: 1.5em;
}
#join label[for=email-login-input]{
	display: none;
}

#join_button {
	background-color: #fff;
	display:block;
	width: 300px;
	color: #000;
	font-size: 1.4em;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	border-radius: 0;
	margin: 1.5em auto;
	border: 2px solid #fff;
	padding: 0.4em;
	font-weight: 400;
}
#deeplink_sent{
	display:block;
	border: 2px solid #fff;
	background-color: #232842;
	color: #fff;
	margin: 1.5em auto;
	font-size: 1.2em;
	padding: 0.4em 20px 0.4em 0;
	font-weight: 300;
	text-align: inherit;
	line-height: inherit;
	width: 300px;
}
.justify_icon{
	float: right;
    margin: 0 0.2em;
	font-size: 1.1em;
	vertical-align: middle
}
#send_airplane {
	width: 1em;
}
#instruct {
	width: 90%;
  margin: 2em auto;
  text-align: center;
  font-size: 1.0em;
	font-weight: 100;
}
#check_your_email{
  margin: auto;
  text-align: center;
	line-height: 1.5em;
	font-size: 1.6em;
}
#user_details {
	text-align: center;
}
#logout_btn {
	background-color: #fff;
	display:block;
	width: 300px;
	color: #000;
	font-size: 1.4em;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	border-radius: 0;
	margin: 1.5em auto;
	border: 2px solid #fff;
	padding: 0.4em;
	font-weight: 400;
}
/*-- fix to handle current layout of frame pages --*/
.split-pane-frame #logout_btn {
	width: inherit;
	font-size: 0.8em;
	margin: inherit;
	padding: 0 0.5em;
	border: none;
	display: inline;
}

/* ---------------- Navigation Bar -----------------*/

#fp_2 {
	height:calc(100% - 50px) !important;
}
#fp_2  .fractalpanel_content_area {

}
#fp_6 {
	height:50px !important;
	bottom: -14px;
	overflow: visible;
}
#fp_6 .fractalpanel_content_area {
	background-color: inherit;
	overflow: visible;
}

.navigation_wrap {
	background-color: #232842;
	color: #999;
	height: 50px;
	position: relative;
}
.navigation_wrap .app_logo {
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
}
.navigation_wrap .app_logo img {
	width: 60%;
	height: 60%;
	-ms-transform: translateY(30%);
	transform: translateY(30%);
	display: block;
	margin: auto;
}
.navigation_wrap .app_action_menu {
	margin: auto;
	width: calc(100% - 100px);
	display: block;
	height: 50px;
	color: #eee;
}
.navigation_wrap .app_action_menu i {
	font-size: 30px;
	width: 33%;
	text-align: center;
	line-height: 50px;
}
.navigation_wrap .nav_menu {
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.navigation_wrap .mobile_nav_icon {
	height: 30px;
	width: 30px;
	display: block;
	margin: auto;
	-ms-transform: translateY(30%);
	transform: translateY(30%);
	font-size: 30px;
	color: #eee;
}

.navigation_wrap .main_nav_options {

}
.navigation_wrap .mobile_nav_menu_wrap {
	display: none;
	position: absolute;
	bottom: 50px;
	right: 0;
	width: 100%;
	background-color: #232842;
	z-index: 2;
	padding-top: 9999px;

}
.navigation_wrap ul.main_nav_options {
	margin: 0;
	padding: 0;
}
.navigation_wrap .main_nav_options li.disabled, .navigation_wrap .main_nav_options li.disabled i {
	background-color: #484950fc;
	color: #888888fc;
}


.navigation_wrap .main_nav_options li {
	display: block;
	width: 100%;
	padding: 0.7em 2em;
	background-color: #3a405ffc;
	line-height: 1em;
	margin-bottom: 2px;
}
.navigation_wrap .main_nav_options li:focus {

}

.navigation_wrap .main_nav_options li i{
	font-size: 1.5em;
}
.navigation_wrap .main_nav_options .nav_icon{
	width: 2em;
	margin-right: 1em;
	display: inline-block;
	color: #7a809efc;
	text-align: center;
}

.navigation_wrap .user_image {
	height: 100px;
	width: 100px;
	display: block;
	margin:auto;
	background-color: #000;
	border-radius: 100px;
}
.navigation_wrap .user_nav_wrap {
	padding-bottom: 40px;
}

.navigation_wrap .user_nav_wrap h2 {
	text-align: center;
	margin: 1em 0 0.2em;
  font-size: 1.1em;
  font-weight: 300;
}
.navigation_wrap .user_nav_wrap h3 {
	text-align: center;
	margin: 0.4em 0 0.2em;
  font-size: 0.8em;
  font-weight: 300;
}

.navigation_wrap .mobile_add_video_wrap {
	display: none;
	position: absolute;
	bottom: 50px;
	right: 0;
	width: 100%;
	background-color: #232842;
	z-index: 2;
	padding-top: 40px;
	padding-top: 9999px;
}
.navigation_wrap .mobile_add_video_wrap li:last-child {
	border-top:  #232842 solid 3px;
	border-bottom:  #232842 solid 3px;
}
.navigation_wrap .mobile_add_video_wrap li:focus, .navigation_wrap .mobile_add_video_wrap li:active {
	background-color: #2c314c;
}

.navigation_wrap .main_nav_options .cancel_button {
	text-align: center;
	width: 100%;
	margin-left: -2em;

}



/* ---------------- Video Provider (Record, Upload, and Link Videos)-----------------*/
/*
.video_provider {
	background-color: #777;
}
.main_video {
        width: 100%;
        max-width: 480px;
}
*/
form.video_provider {
	background: -moz-linear-gradient(top, #232842 0%, #0d0f19 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #232842 0%,#0d0f19 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #232842 0%,#0d0f19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232842', endColorstr='#0d0f19',GradientType=0 ); /* IE6-9 */
	margin-bottom: 30px;
}

.video_provider :focus{
	  outline-color: lightblue;
}
.video_provider .mobile_page, .video_provider .additions {
	padding: 1em 0 0 0;
	max-width: 600px;
	margin: auto;
}
.local_action_bar {
	top: 10px;
	width: 100%;
}
.local_action_bar .close_button {
	float: right;
	margin-right: 2em;
}

.video_provider  fieldset.upload_fields {
	position: relative;
	height: 50px;
	padding-top: 50px;
}

.video_provider .upload_video .upload_fields input{

}
.video_provider .upload_video .upload_fields input[type="file"] {
	background-color: #3d4469;
  padding-left: 40px;
  width: 80%;
}

.video_provider .upload_video .upload_fields span {
	position: absolute;
	left: 25px;
	background-color: #40436a;
	bottom: 7px;
	pointer-events: none;
	font-size: 0.9em;
	padding: 6px 9px 7px 7px;
}

.video_provider .upload_video .upload_fields .custom_file_upload {
    border: 1px solid #888;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
		background-color: #3d4469;
		position: relative;
}
.video_provider .upload_video .upload_fields .file_upload_wrap {
	display: block;
	margin: auto;
	width: 320px;
}

.video_provider .mobile_page h3 {
	font-size: 1em;
	color: #bbb;
	font-weight: 100;
	margin-top: 0;
	margin-left: 2em;
}
.video_provider fieldset {
		border: 0px solid #696969;
	}
.video_provider fieldset p{
	margin: 1em 2em;
	color: #bbb;
	font-size: 0.8em;
}
.video_provider video {
	background-color: grey;
	display: block;
	margin: auto;
	width: 100%;
	max-width: 360px;
	/*border-radius: 100%;*/
}

.video_provider fieldset.record_fields {
	padding-top: 0;
}

.video_provider .rec_controls{
		width: 150px;
		display: block;
		margin: 0.5em auto;
		position: relative;
	}

.video_provider .change_camera_icon {
		display: inline-block;
		height: 30px;
		width: 30px;
		position: absolute;
    right: -40px;
    top: 20px;
	}
.video_provider .change_camera_icon .fa-camera{
	position: absolute;
	color: #6c79bb;
	font-size: 30px;
}
.video_provider .change_camera_icon .fa-sync-alt{
	position: absolute;
	font-size: 14px;
	padding: 10px 8px;
	color: #232842;
}
.video_provider .close_button{
		display: block;
		text-align: right;
	}
.video_provider label{
		display: block;
		font-weight: 100;
		text-align: center;
		margin: 1em auto 0.5em auto;
		font-size: 0.9em;
	}

/*
.video_provider input {
	  margin: 0 .25rem;
	  min-width: 125px;
	  border: 1px solid #eee;
	  border-left: 3px solid;
	  border-radius: 5px;
	  transition: border-color .5s ease-out;
	}
*/

.video_provider input, .video_provider textarea, .video_provider select{
		display: block;
		width: 90%;
		border: 1px solid #696969;
		background-color: transparent;
		color: #ccc;
		padding: 0.5em;
		margin: auto;
	}
.video_provider select {
	width: 130px;
	background-color: #3d4469;
	border-radius: 0;
	border: #555 solid 2px;
}

.video_provider .ui-state-default {
	border: #777 solid 1px;
	background-image: none;
	background-color: #3d4469;
	font-weight: 100;
	color: #eee;
	font-family: inherit;
	margin: auto;
	display: block;
	border-radius: 0;
	font-size: 0.9em;
}
.video_provider .ui-menu .ui-menu-item {
	list-style-image: inherit;

}
.ui-selectmenu-menu .ui-front .ui-selectmenu-open {

}
.video_provider .ui-selectmenu-menu .ui-menu {
	border: #777 solid 1px;
	background-image: none;
	background-color: #3d4469;
	font-weight: 100;
	color: #eee;
	font-family: inherit;
	margin: auto;
	display: block;
	border-radius: 0;
	font-size: 0.9em;
}
.video_provider .ui-widget-content .ui-state-focus {
	background-image: none;
	background-color: #5d69a5;
	border: none;
	font-weight: inherit;
	font-family: inherit;

}
.video_provider .ui-selectmenu-button span.ui-selectmenu-text {
	padding: 0.2em 0.5em;
}

.video_provider input.big_rec_btn {
		height: 75px;
		width: 75px;
		display: block;
		background-color: #6E0001;
		color: #DFDCDC;
		border-radius: 50px;
		border: 1px solid #888;
		margin: auto;
	}
.video_provider input.big_rec_btn:focus {
	outline: none;
	animation: recordglow 2s infinite;
}
@keyframes recordglow {
	0% {box-shadow: 0px 0px 10px 0px red;}
	50% {box-shadow: 0px 0px 30px 2px red;}
	100% {box-shadow: 0px 0px 10px 0px red;}
}

.video_provider .select_vid_type{
	width: 300px;
	display: block;
	margin: auto;
	position: relative;
}
.video_provider .small_text {
	font-size: 0.6em;
}
.video_provider .hosted_video .hosted_fields {
	margin: 4em 0 0;
}
.video_provider .hosted_video .hosted_fields p {
	font-size: 0.75em;
  line-height: 1.5em;
}
.video_provider .hosted_video .hosted_fields img {
	height: 0.8em;
	margin: 0 0.3em -0.1em 0.3em;
}
.video_provider .hosted_video .hosted_fields span {
	color: #8698fb;
}

.video_provider .video_type_selection {
	width: 300px;
	display: inline-block;
	height: 40px;
	position: relative;
	top: 5px;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='11' height='30'><circle cx='7' cy='15' r='4' fill='#555'/></svg>")  repeat-x;
	/*    Fill color should be programically altered according to the needs of linkage -- nice red: #6E0001           */
}

.video_type_selection.custom_select {


}

.video_provider .tiny_thumb {
	height: 40px;
	width: 40px;
	background-color: #3d4469;
	display: inline-block;
	position: absolute;
	top: 0;
	border-radius: 40px;
	border: 2px solid #777;
}
.video_provider .tiny_thumb.source {
	left: 0;
}
.video_provider .tiny_thumb.comment {
	right: 0;
	border: 2px dashed #777;
}

.video_provider button[type=submit]:disabled {
	background-color: #333;
  border: 1px solid #666;
  color: #999;
}

.video_provider button[type=submit] {
	border: 1px solid #888;
	border-radius: 0;
	padding: 0.5em 2em;
	color: #fff;
	font-size: 0.9em;
	margin: 2em auto 5em;
  display: block;
	background-color: #3d4469;
	cursor: pointer;
}
.video_provider button[type=submit]:active,  .video_provider button[type=submit]:focus{
	background-color: #202540;
}

/* ------------------ Afer submitting Video  -------------------*/

.recording_status {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
}

.submit_progress {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	top: 0;
}
.progress_info{
	display: block;
	position: absolute;
	width: 100%;
	padding: 3em 0;
	top: 30vh;
	margin: auto;
	background-color: black;
	text-align: center;
}

/* ------------------ Video Provider (Add video, upload or Link) for Playmedia  -------------------*/

.video_provider.playmedia {
	position: absolute;
	top: 0;
}

/* ------------------ Video List -------------------*/

.video_list {
  display: grid;
	grid-template-columns: auto;
}
.video_list_background {
	text-align: center;
	margin-top: 50%;
	position: fixed;
	width: 100%;
}
.video_list_background h1 {
	font-size: 1em;
}
.video_list_background p {
	float: inherit;
	font-size: 0.6em;
	font-weight: 100;
}
.logged_in .video_list_background {
	display: none;
}

.video_item {
	background-image: linear-gradient(#eee, #fff);
	font-size:0.8em;
	color: #777;
	border-bottom: #bbb solid 1px;
	position: relative;
	max-height: 100px;
}

.description_link_box {
	width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  position: absolute;
}

.video_image {
	float: left;
	display:inline-block;
	width:100px;
	height:100px;
	background-color: #555;
	background-image: url("../graphics/video_default_thumb.png");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.video_image video {
	height: 100%;
	transform: translateX(-25%);
}
.video_image img {
	height: 100%;
	transform: translateX(-25%);
}

.video_description {
	float: left;
	display:inline-block;
	width:calc(100% - 100px);
	min-height: calc(100px - 4em);
	height: calc(100px - 4em);
	position: relative;
	padding-bottom: 2em;
	padding-top: 2em;
}
.video_description h4 {
	margin-left: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	margin-right: 0.1em;
}
.video_description a{
	text-decoration: none;
	color: #555;
}

.video_description .video_details_wrapper {

}

.video_description .feedback__likes {
	margin-left: 1em;
	position: absolute;
	top: 0.8em;;
	left: 0.2em;
	font-size: 0.7em;
}

.video_description .creation__date {
	font-size: 0.7em;
	position: absolute;
	top: 0.8em;;
	right: 0.4em;
	font-size: 0.7em;
}
.video_description .rdfs__label {

}
.video_description .schema__description {
	margin-left: 1.1em;
	font-size: 0.9em;
	overflow: hidden;
	max-height: 35px;
	text-overflow: ellipsis;
}

.video_description .uploader__profile {
	display: inline-block;
	line-height: 1.9;
	font-size: 0.9em;
	position: absolute;
  bottom: 0;
	right: 2.5em;
}
.video_description .uploader_icon {
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
	line-height: 1.2em;
	background-color: #666;
	text-align: center;
	color: #fff;
	margin: 3px;
	position: absolute;
  bottom: 0;
  right: 0.2em;
	border-radius: 1.2em;
}
fieldset.time_range_set {
	width: 90%;
}
.record_time_in label, .record_time_in input, .record_time_in button {
	display: inline-block;
}
.record_time_out label, .record_time_out input, .record_time_out button {
	display: inline-block;
}
.record_time_in, .record_time_out {
	width: 40%;
	margin-left: 5%;
	display: inline-block;
}
.record_time_in input, .record_time_out input {
	width: 4em;
	margin: 0 0.5em;
	text-align: center;
}
.time_range_set legend {
	text-align: center;
}
.record_time_out label, .record_time_in label {
	color: #888;
	font-size: 0.8em;
}


/* ------------------ View Playmedia -------------------*/
.playvid_flexbox {
	display: flex;
	flex-flow: column;
	height: calc(100% - 50px);
	height: 100%;
}

.playvid_flexbox .row.main_vid_wrapper {
	flex: 1 0 auto;
}
.playvid_flexbox .row.video_details_wrapper  {
	flex: 1 1 auto;
	min-height: 50px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	width: 100%;
}
.playvid_flexbox .row.flower_wrap {
	flex: 0 0 auto;
}

.main_vid_wrapper {
	max-width: 600px;
	background-color:black;
	position: relative;
	margin: auto;
}
.main_vid_wrapper video{
	display: block;
  margin: auto;
	width: 100%;
	max-width: 600px;
	max-height: 200px;
}
.video_details_wrapper {
	overflow:hidden;
	max-width: 400px;
	/*margin: 0 auto 1em;*/
}

.video_details_wrapper h3.main_video_title {
	font-size: 0.9em;
  font-weight: 100;
  margin: 0.5em 1em 0.1em 1em;
}
.video_details_wrapper .main_video_creation_date, .video_details_wrapper .feedback__likes, .video_details_wrapper .oa__motivation{
	font-size: 0.6em;
  width: 25%;
  display: inline-block;
}
.video_details_wrapper .feedback__likes {
	width: 40%;
	margin-left: 1em;
}

.video_details_wrapper .main_video_creation_date {
	text-align: right;
}
.video_details_wrapper p.main_video_description {
	margin: 0.3em 1.5em;
	font-size: 0.7em;
}

.fade_handle {
	    position: absolute;
	    bottom: 0em;
	    width:100%;
	    height: 0.6em;
			background: -moz-linear-gradient(top, rgba(13,15,25,0) 0%, rgba(13,15,25,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(13,15,25,0) 0%,rgba(13,15,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(13,15,25,0) 0%,rgba(13,15,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000d0f19', endColorstr='#0d0f19',GradientType=0 ); /* IE6-9 */
	}
	.fade_handle i.fa-sort-down, .fade_handle i.fa-sort-up{
		font-size: 1.2em;
		position: absolute;
		bottom: 0;
		right: 5%;
	}
	.fade_handle i.fa-sort-up{
		display:none;
		line-height: 0;
	}
	.video_details_wrapper.row.full_height {
		  flex: 1 0 auto;
	}
	.video_details_wrapper.row.full_height .fade_handle{
			background: none;
	}
	.video_details_wrapper.row.full_height .fade_handle i.fa-sort-down {
			display: none;
	}
	.video_details_wrapper.row.full_height .fade_handle i.fa-sort-up {
			display: block;
	}
/* ---------------- Flower controls on Playmedia -----------------*/

.flower_wrap {
	width: 100%;
}
.a_flower {
	display: block;
	margin: auto;
	width: 80%;
	max-width: 500px;
}
.diversus-flower {
}

/*.a_flower:after {
	content: "";
	padding-bottom: 100%;
} */

/*.flower_wrap .a_flower {
	width: 80%;
	margin: auto;
	max-width: 300px;*/
}
.flower_wrap svg.diversus-flower g{
	stroke: #3d4469;
}


/* ---------------- Video List Responsive -----------------*/


@media only screen and (min-height : 700px){
	.main_vid_wrapper video{
		max-height: 250px;
	}
}
@media only screen and (min-width : 375px) and  (min-height : 800px){
	.main_vid_wrapper video{
		max-height: 300px;
	}
	.a_flower {
		width: 100%
	}

}

@media only screen and (min-width : 481px) and (max-width : 1024px) {
.video_list {
	width: 90%;
	margin: auto;
	grid-template-columns: 50% 50%;
}
.video_item {
	margin: 0.5em;
	border: none;
}

}
@media screen and (min-width: 1024px) {
.video_list {
	width: 90%;
	margin: auto;
	grid-template-columns: 33% 33% 33%;
}
.video_item {
	margin: 0.5em;
	border: none;
}
.main_vid_wrapper video{
	max-height: 400px;
}

}

/* =================== Styles for LANDSCAPE for Mobile ================== */

@media all and (orientation: landscape) {

.main_vid_wrapper {

}
.level2_vids {

}
}

@media (min-height: 800px) {


}
