@charset "UTF-8";
/* ============ CSS for Diversus ============ */
/* Created January 2019 by Nooron UG          */

/* ------------------ Global ------------------*/

body {
	background-color: #232842;
	background: -moz-linear-gradient(top, #232842 0%, #0d0f19 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #232842 0%,#0d0f19 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #232842 0%,#0d0f19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232842', endColorstr='#0d0f19',GradientType=0 ); /* IE6-9 */
	color: #eee;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0;
	padding: 0;
	font-weight: 100;
}
.fractalpanel_knob {
	display: none;
}
/* ------------------ Layout -------------------*/

.fractalpanel_controls_bar {
	display: none;
}
.fractalpanel_content_area {
  padding-top: 0px;  /* only needs specifying because Diversus turns off the FractalPanel buttons by default */
  height: 100%;      /* only needs specifying because Diversus turns off the FractalPanel buttons by default */
}
.split-pane-divider.horizontal-divider {
	display: none;
}
/* ---------------- Login Form -----------------*/

#logo_wrap {
	width: 100%;
	margin: 4em auto 7em;
	display: block;
}
#diversus_logo {
	width: 10%;
	min-width: 110px;
	margin: auto;
	display: block;
}
#login_form {
	display: block;
	margin: auto;
	font-weight: 300;
}
#join input[type=email]{
	display:block;
	margin: auto;
	border-radius: 0;
	padding-bottom: 0.3em;
	text-align: center;
	border: 0px;
	border-bottom: 2px solid #fff;
	background-color: #232842;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	color: #fff;
	font-weight: 100;
	min-width: 300px;
	font-size: 1.5em;
}
#join label[for=email-login-input]{
	display: none;
}

#join_button {
	background-color: #fff;
	display:block;
	width: 300px;
	color: #000;
	font-size: 1.4em;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	border-radius: 0;
	margin: 1.5em auto;
	border: 2px solid #fff;
	padding: 0.4em;
	font-weight: 400;
}
#deeplink_sent{
	display:block;
	border: 2px solid #fff;
	background-color: #232842;
	color: #fff;
	margin: 1.5em auto;
	font-size: 1.2em;
	padding: 0.4em 20px 0.4em 0;
	font-weight: 300;
	text-align: inherit;
	line-height: inherit;
	width: 300px;
}
.justify_icon{
	float: right;
    margin: 0 0.2em;
	font-size: 1.1em;
	vertical-align: middle
}
#send_airplane {
	width: 1em;
}
#instruct {
	width: 90%;
  margin: 2em auto;
  text-align: center;
  font-size: 1.0em;
	font-weight: 100;
}
#check_your_email{
  margin: auto;
  text-align: center;
	line-height: 1.5em;
	font-size: 1.6em;
}
#user_details {
	text-align: center;
}
#logout_btn {
	background-color: #fff;
	display:block;
	width: 300px;
	color: #000;
	font-size: 1.4em;
	font-family: "Ubuntu", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	box-shadow: none;
	border-radius: 0;
	margin: 1.5em auto;
	border: 2px solid #fff;
	padding: 0.4em;
	font-weight: 400;
}
/*-- fix to handle current layout of frame pages --*/
.split-pane-frame #logout_btn {
	width: inherit;
	font-size: 0.8em;
	margin: inherit;
	padding: 0 0.5em;
	border: none;
	display: inline;
}

/* ---------------- Navigation Bar -----------------*/

#fp_2 {
	height:calc(100% - 50px) !important;
}
#fp_2  .fractalpanel_content_area {

}
#fp_6 {
	height:50px !important;
	bottom: -14px;
	overflow: visible;
}
#fp_6 .fractalpanel_content_area {
	background-color: inherit;
	overflow: visible;
}

.navigation_wrap {
	background-color: #232842;
	color: #999;
	height: 50px;
	position: relative;
}
.navigation_wrap .app_logo {
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
}
.navigation_wrap .app_logo img {
	width: 60%;
	height: 60%;
	-ms-transform: translateY(30%);
	transform: translateY(30%);
	display: block;
	margin: auto;
}
.navigation_wrap .app_action_menu {
	margin: auto;
	width: calc(100% - 100px);
	display: block;
	height: 50px;
}
.navigation_wrap .app_action_menu i {
	font-size: 30px;
	width: 33%;
	text-align: center;
	line-height: 50px;
}
.navigation_wrap .nav_menu {
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0;
	top: 0;
}
.navigation_wrap .mobile_nav_icon {
	height: 30px;
	width: 30px;
	display: block;
	margin: auto;
	-ms-transform: translateY(30%);
	transform: translateY(30%);
	font-size: 30px;
	color: #eee;
}

.navigation_wrap .main_nav_options {

}
.navigation_wrap .mobile_nav_menu_wrap {
	display: none;
	position: absolute;
	bottom: 50px;
	right: 0;
	width: 100%;
	background-color: #232842;
	z-index: 2;
	padding-top: 9999px;

}
.navigation_wrap ul.main_nav_options {
	margin: 0;
	padding: 0;
}
.navigation_wrap .main_nav_options li {
	display: block;
	width: 100%;
	padding: 0.7em 2em;
	background-color: #3a405ffc;
	line-height: 1em;
	margin-bottom: 2px;
}
.navigation_wrap .main_nav_options li i{
	font-size: 1.5em;
}
.navigation_wrap .main_nav_options .nav_icon{
	width: 2em;
	margin-right: 1em;
	display: inline-block;
	color: #7a809efc;
	text-align: center;
}

.navigation_wrap .user_image {
	height: 100px;
	width: 100px;
	display: block;
	margin:auto;
	background-color: #000;
	border-radius: 100px;
}
.navigation_wrap .user_nav_wrap {
	padding-bottom: 40px;
}

.navigation_wrap .user_nav_wrap h2 {
	text-align: center;
	margin: 1em 0 0.2em;
  font-size: 1.1em;
  font-weight: 300;
}
.navigation_wrap .user_nav_wrap h3 {
	text-align: center;
	margin: 0.4em 0 0.2em;
  font-size: 0.8em;
  font-weight: 300;
}

.navigation_wrap .mobile_add_video_wrap {
	display: none;
	position: absolute;
	bottom: 50px;
	right: 0;
	width: 100%;
	background-color: #232842;
	z-index: 2;
	padding-top: 40px;
	padding-top: 9999px;
}
.navigation_wrap .mobile_add_video_wrap li:last-child {
	border-top:  #232842 solid 3px;
	border-bottom:  #232842 solid 3px;
}

.navigation_wrap .main_nav_options .cancel_button {
	text-align: center;
	width: 100%;
	margin-left: -2em;

}



/* ---------------- Video Provider -----------------*/
/*
.video_provider {
	background-color: #777;
}
.main_video {
        width: 100%;
        max-width: 480px;
}
*/
form.video_provider {
	background-color: transparent;
	margin-bottom: 30px;
}
.video_provider .mobile_page {
	border-bottom: 1px solid #5f5f5f;
	background: -moz-linear-gradient(top, #232842 0%, #0d0f19 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #232842 0%,#0d0f19 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #232842 0%,#0d0f19 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232842', endColorstr='#0d0f19',GradientType=0 ); /* IE6-9 */
}
.video_provider .mobile_page {
	padding: 1em 0;
}
.video_provider .mobile_page h3 {
	font-size: 1em;
	color: #bbb;
	font-weight: 100;
	margin-top: 0;
}
.video_provider fieldset {
		border: 0px solid #696969;
	}
.video_provider fieldset p{
	margin: 1em 2em;
	color: #bbb;
	font-size: 0.8em;
}
.video_provider video {
	background-color: grey;
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
}
.video_provider .rec_controls{
		width: 150px;
		display: block;
		margin: 2em auto;
		position: relative;
	}

.video_provider .change_camera_icon {
		display: inline-block;
		height: 30px;
		width: 30px;
		position: absolute;
    right: -40px;
    top: 20px;
	}
.video_provider .change_camera_icon .fa-camera{
	position: absolute;
	color: #6c79bb;
	font-size: 30px;
}
.video_provider .change_camera_icon .fa-sync-alt{
	position: absolute;
	font-size: 14px;
	padding: 10px 8px;
	color: #232842;
}
.video_provider .close_button{
		display: block;
		text-align: right;
	}
.video_provider label{
		display: block;
		font-weight: 100;
		text-align: center;
		margin: 1em auto 0.5em auto;
		font-size: 0.9em;
	}

/*
.video_provider input {
	  margin: 0 .25rem;
	  min-width: 125px;
	  border: 1px solid #eee;
	  border-left: 3px solid;
	  border-radius: 5px;
	  transition: border-color .5s ease-out;
	}
*/

.video_provider input, .video_provider textarea, .video_provider select{
		display: block;
		width: 90%;
		border: 1px solid #696969;
		background-color: transparent;
		color: #ccc;
		padding: 0.5em;
		margin: auto;
	}
.video_provider select {
	width: 130px;
	background-color: #3d4469;
	border-radius: 0;
}

.video_provider input.big_rec_btn {
		height: 75px;
		width: 75px;
		display: block;
		background-color: #6E0001;
		color: #DFDCDC;
		border-radius: 50px;
		border: 1px solid #888;
		margin: auto;
	}

.video_provider .select_vid_type{
	width: 300px;
	display: block;
	margin: auto;
	position: relative;
}
.video_provider .small_text {
	font-size: 0.6em;
}
.video_provider .video_type_selection {
	width: 300px;
	display: inline-block;
	height: 40px;
	position: relative;
	top: 5px;
}
.video_provider .tiny_thumb {
	height: 40px;
	width: 40px;
	background-color: #3d4469;
	display: inline-block;
	position: absolute;
	top: 0;
	border-radius: 40px;
}
.video_provider .tiny_thumb.source {
	left: 0
}
.video_provider .tiny_thumb.comment {
	right: 0
}
.video_provider button[type=submit] {
	background-color: transparent;
	border: 1px solid #888;
	border-radius: 0;
	padding: 0.5em 2em;
	color: #fff;
	font-size: 0.9em;
}

/* ------------------ Video List -------------------*/

.video_list {
  display: grid;
	grid-template-columns: auto;
}


.video_item {
	background-image: linear-gradient(#eee, #fff);
	font-size:0.8em;
	color: #777;
	border-bottom: #bbb solid 1px;
}

.video_image {
	float: left;
	display:inline-block;
	width:100px;
	height:100px;
	background-color: #555;
	overflow: hidden;
}
.video_image video {
	height: 100%;
	transform: translateX(-25%);
}
.video_description {
	float: left;
	display:inline-block;
	width:calc(100% - 100px);
	min-height: calc(100px - 4em);
	position: relative;
	padding-bottom: 2em;
	padding-top: 2em;
}
.video_description h4 {
	margin-left: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	margin-right: 0.1em;
}
.video_description a{
	text-decoration: none;
	color: #555;
}

.video_description .feedback__likes {
	margin-left: 1em;
	font-size: 0.7em;
	position: absolute;
	top: 0.8em;;
	left: 0.2em;
}

.video_description .creation__date {
	font-size: 0.7em;
	position: absolute;
	top: 0.8em;;
	right: 0.4em;
}
.video_description .rdfs__label {

}
.video_description .schema__description {
	margin-left: 1.1em;
	font-size: 0.9em;
}

.video_description .uploader__profile {
	display: inline-block;
	line-height: 1.9;
	font-size: 0.9em;
	position: absolute;
  bottom: 0;
	right: 2.5em;
}
.video_description .uploader_icon {
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
	line-height: 1.2em;
	background-color: #666;
	text-align: center;
	color: #fff;
	margin: 3px;
	position: absolute;
  bottom: 0;
  right: 0.2em;
	border-radius: 1.2em;
}

/* ------------------ View Video Screen -------------------*/

.main_vid_wrapper {
	max-width: 600px;
	background-color:black;
	position: relative;
	margin: auto;
}
.main_vid_wrapper video{
	display: block;
  margin: auto;
	width: 100%;
	max-width: 600px;
	max-height: 200px;
}
.video_details_wrapper {
	overflow:hidden;
	max-width: 400px;
	margin: 0 auto 1em;
}

.video_details_wrapper h3.main_video_title {
	font-size: 0.9em;
  font-weight: 100;
  margin: 0.5em 1em 0.1em 1em;
}
.video_details_wrapper .main_video_creation_date, .video_details_wrapper .feedback__likes {
	font-size: 0.6em;
  width: 45%;
  display: inline-block;
	margin-left: 1em;
}
.video_details_wrapper .main_video_creation_date {
	text-align: right;
}
.video_details_wrapper p.main_video_description {
	margin: 0.3em 1.5em;
	font-size: 0.7em;
}
.flower_wrap .a_flower {
	width: 80%;
	margin: auto;
	max-width: 300px;
}
.flower_wrap .a_flower svg g{
	stroke: #3d4469;
}


/* ---------------- Video List Responsive -----------------*/


@media only screen and (min-width : 481px) and (max-width : 1024px) {
.video_list {
	width: 90%;
	margin: auto;
	grid-template-columns: 50% 50%;
}
.video_item {
	margin: 0.5em;
	border: none;
}
.main_vid_wrapper video{
	max-height: 300px;
}

}
@media screen and (min-width: 1024px) {
.video_list {
	width: 90%;
	margin: auto;
	grid-template-columns: 33% 33% 33%;
}
.video_item {
	margin: 0.5em;
	border: none;
}
.main_vid_wrapper video{
	max-height: 400px;
}

}

/* =================== Styles for LANDSCAPE for Mobile ================== */

@media all and (orientation: landscape) {

.main_vid_wrapper {

}
.level2_vids {

}
}

@media (min-height: 800px) {


}
